@tailwind base;
@tailwind components;
@tailwind utilities;

  .bg-guinda {
    background-color: #460000;
  }
  
  .text-guinda {
    color: #460000;
  }
  
  .bg-verde-idiomas {
    background-color: #003e1c;
  }
  
  .text-gris {
    color: #808080;
  }
  
  .bg-gris{
    background-color: #808080;
  }

  .gb-image-ingles{
    background-image: url('../images/inglaterra.png');
  }
  
  .gb-image-francia{
    background-image: url('../images/francia.jpeg');
  }

  .gb-image-alemania{
    background-image: url('../images/alemania.png');
  }

  .gb-image-italia{
    background-image: url('../images/italia.png');
  }

  #becas-button, #admin-button, #resultados-button, #intensivo-button, #sabatino-button {
    transition: transform 0.3s; /* Add transition effect */
  }
  
  #becas-button:hover, #admin-button:hover, #resultados-button:hover, #intensivo-button:hover, #sabatino-button:hover{
    transform: scale(1.1); /* Scale up on hover */
  }
  
  .bg-niveles{
    background-color: #152d62;
  }

  .bg-horarios{
    background-color: #0e7aa3;
  }

  .bg-resultados{
    background-color: #15624a;
  }

  .bg-curso{
    background-color: #154c62;
  }

  .bg-negro-tranparencia{
    background-color: rgba(0, 0, 0, 0.5);
  }
  .bg-blanco-tranparencia{
    background-color: rgba(255,255,255,0.5);
  }

  .bg-grisl{
    background-color: #d3d3d3;
  }
  
  .bg-grisrf{
    background-color: #808080;
  }

  .bg-ganadores{
    background: linear-gradient(90deg, #144c2e, #155338, #155940, #15644e, #156e5a, #157764, #168776, #169686);
  }
  #spin-container {
  width: 250px;
  height: 250px;
  margin: auto;
}
  
  canvas {
    max-width: 100%;
    height: auto;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 1.875rem; /* 30px */
line-height: 2.25rem; /* 36px */
  }
  
  .bg-ingles{
    background: linear-gradient(
      to right, 
      #122b72, 
      #707091, 
      #9d98aa, 
      #c0b8c0, 
      #ded3d3, 
      #b19797, 
      #966e6e, 
      #865252,
      #742323
    );
 }
  .bg-francia{
    background: linear-gradient(
      to right, 
        #023342, 
        #72787e,
        #a1a2a5,
        #e3dfe0,
        #b29e9f,
        #947071,
        #6e0b0c
    );
  }
  .bg-italia{
    background: linear-gradient(
      to right, 
      #034a2f, 
      #587062,
      #7c8c83,
      #b0b8b3,
      #f9f9f9,
      #c0b0b0,
      #9c7d7d,
      #875959,
      #6e0b0c
    );
  }

  .bg-alemania{
    background: linear-gradient(
      to bottom, 
      #1c1a1a, 
      #3c1717,
      #501414,
      #601010,
      #6e0b0c,
      #8f622c,
      #aa8a3d,
      #c1a94b,
      #d6c356
    );
  }
  
  /*  ------------------ ----------------- ----------------  */
